/* Gaya dasar untuk seluruh halaman */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #7207ec, #f40a6b);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Gaya judul */
h1 {
    color: #fff;
    margin-top: 20px;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Gaya untuk daftar Todo */
ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

/* Gaya untuk setiap item Todo */
ul li {
    color: #fff;
    border:2px solid #fff;
    background-color:transparent #fff;
    filter:blur(4);
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

ul li:hover {
    transform: scale(1.02);
    background-color:transparent #f1f1f1;
}

/* Gaya link untuk tindakan */
ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #ffffff;
}

/* Gaya tombol "Add" */
form {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ffffff;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 1em;
    background-color:#ffffff;
    color:  linear-gradient(to right, #7207ec, #f40a6b);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ffffff;
}

/* Gaya untuk item yang sudah selesai */
ul li.completed {
    text-decoration: line-through;
    color: #aaa;
}

/* Efek untuk menampilkan input ketika kosong */
input:invalid {
    border-color: #e74c3c;
}

input:invalid::placeholder {
    color: #e74c3c;
}
