/* Gaya dasar untuk seluruh halaman */
body {

        font-family: 'Arial', sans-serif;
        background: linear-gradient(to right, #ca9737, #beb290);
        color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
}

/* Gaya judul untuk todo list */
h1 {
    color: #fffbfb; /* Warna teks */
    margin-top: 200px; /* Jarak margin atas */
    font-size: 2.5em; /* Ukuran font */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Efek bayangan teks */
    text-align: center; /* Penataan teks agar rata tengah */
}

/* Gaya untuk setiap item dalam todo list */
ul.todo-list {
    list-style-type: none; /* Menghilangkan penanda angka atau titik */
    padding: 0;
    margin: 40px 0;
}

ul.todo-list li {
    font-size: 1.2em;
    margin: 10px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/* Gaya untuk tugas yang sudah selesai */
ul.todo-list li.completed {
    text-decoration: line-through;
    color: #808080;
}


/* Gaya untuk daftar Todo */
ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

/* Gaya untuk setiap item Todo */
ul li {
    background-color:  #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    border: 3px solid #dbcd06;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

ul li:hover {
    transform: scale(1.02);
    background-color: #dbcd06;
}

/* Gaya link untuk tindakan */
ul li a {
    color: #050607;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #e74c3c;
}

/* Gaya tombol "Add" */
form {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #dbcd06;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #dbcd06;
}

/* Gaya untuk item yang sudah selesai */
ul li.completed {
    text-decoration: line-through;
    color: #aaa;
}

/* Efek untuk menampilkan input ketika kosong */
input:invalid {
    border-color: #e74c3c;
}

input:invalid::placeholder {
    color: #e74c3c;
}
