/* Mengatur style pada elemen h1 */
h1 {
    color: blue;
  }
/* Mengatur style pada elemen dengan id "header" */
#header {
    background-color: gray;
  }
/* Mengatur style pada elemen dengan class "teks" */
.teks {
    font-size: 16px;
  }
/* Mengatur margin dan padding pada semua elemen HTML */
* {
    margin: 0;
    padding: 0;
  }
/* Mengatur style pada elemen h1 dan h2 */
h1, h2 {
    color: red;
  }
/* Mengatur style pada elemen p yang berada di dalam elemen div */
div p {
    font-weight: bold;
  }
/* Mengatur style pada elemen ul yang menjadi anak langsung dari elemen div */
div > ul {
    list-style: none;
  }
