body {
    background-image: url('../gambar/ALC_138_Htl_Presidente_0818_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#backlogin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(4, 29, 23, 0.5);
    padding: 50px;
    width: 270px;
    box-shadow: 0px 0px 25px 10px black;
    border-radius: 15px;
}

@font-face {
    src: url('font/Product Sans Regular.ttf');
    font-family: Product Sans;
}

@font-face {
    src: url('font/OpenSans-Light.ttf');
    font-family: OpenSans-Light;
}

/*#backlogin form {
    margin-top: 15px;
    float: left;
    padding: 5px;
}*/



#backlogin .inputa {
    width: 90%;
    margin-top: 5px;
    height: 50px;
    border: 2px;
    border-radius: 10px;
    border-bottom: 1px solid #6a82fb;
    font-size: 16px;
    font-family: Helvetica;
    color: white;
    background: transparent;
}

#backlogin .wed {
    margin-top: 40px;
    width: 45%;
    height: 40px;
    background: #6a82fb;
    border: none;
    color: white;
    font-family: Product Sans;
    font-size: 20px;
    border-radius: 5px;
}

#backlogin h1 {
    text-align: center;
    padding: 5px;
    color: #6a82fb;
    font-family: Product Sans;
}

#backlogin hr {
    width: 50%;
    height: 4px;
    border: none;
    background: #6a82fb;
}