/* Mengatur gaya dasar untuk aplikasi */
body {
    font-family: Arial, sans-serif;
    background-color: #00ff4c;
    color: #FFD700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #FFD700;
    font-size: 24px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 300px;
    margin: 20px auto;
}

li {
    background-color: #00FFFF;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

a {
    color: #00ec1c;
    text-decoration: none;
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
    text-align: center;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 8px 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
