* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.text.center {
    text-align: center;
}

hi {
    color: #2c3e50;
    margin-bottom: 20px;
}

img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #2980b9;
}

h2{
    color: #2980b9;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
}

blockquotes {
    font-style: italic;
    margin: 10px 0 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-left: 5px solid #2980b9;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background-color: #2980b9;
    color: white;
}

ul, ol {
    margin: 10px 0 20px 20px;
}

audio {
    display: block;
    margin: 20px auto;
}

a {
    color: #2980b9;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
footer {
    text-align: center;
    margin: 40px 0;
    font-size: 0,9cm;
    color: #777;
}
.audio-embed {
    height: 228px 0;
    width: 600px;
    margin: 20px auto;
}